body {
    padding-bottom: 44px;
    padding-top: 100px;
    background-color: #EAFFD0 !important;
}

.header {
    background-color: #F38181;
}

.footer {
    background-color: #95E1D3;
}

.nav-link {
    color: #000000 !important;
}

.navbar-text {
    color: #ffffff !important;
}
